<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-windows-filepicker"
    version="0.2">
    <name>WindowsFilePicker</name>
    <description>Cordova Windows File Picker Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,file picker</keywords>
    <repo>https://github.com/dilhan2013/cordova-plugin-windows-filepicker.git</repo>

    <js-module src="www/WindowsFilePicker.js" name="WindowsFilePicker">
        <clobbers target="WindowsFilePicker" />
    </js-module>
    
    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/WindowsFilePickerProxy.js" name="WindowsFilePickerProxy">
            <merges target="" />
        </js-module>
    </platform>


</plugin>
